<footer class="footer">
	<div class="comPadding">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<a href="#" title="Company Background"><img src="../assets/images/footer-logo.png" alt=""></a>
					<div class="aboutContent">
						Jia International Engineering Pvt LTD  is a team of qualified technocrats with an engineering experienced background, supported by skilled technicians and craftsmen. It is monitored & Lead by a dynamic Team Leader Mr. Divakar Upadhyay. We have an experienced supporting hand of technical team who has a wide experience of 20 years in this dairy field. We have full-fledged workshop for S.S. and M.S. fabrication, as well as latest machine shop for precision machining work.

					</div>
					<ul class="socialIcons">
						<li class="socialLi">
							<a href="https://www.facebook.com/jiadrilling12/" target="_blank" title="Follow us on Facebook">
								<img src="../assets/images/facebook.svg" alt="">
							</a>
						</li>
						<li class="socialLi">
							<a href="https://twitter.com/home" target="_blank" title="Follow us on Twitter">
								<img src="../assets/images/twitter.svg" alt="">
							</a>
						</li>
						<li class="socialLi">
							<a href="https://www.instagram.com/jiadrilling/" target="_blank" title="Follow us on Instagram">
								<img src="../assets/images/instagram.svg" alt="">
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="footerTitle">QUICK LINKS</div>
					<ul class="footerlist">
						<li><a href="#" title="Home">Home</a></li>
						<li><a href="#" title="Solutions">Solutions</a></li>
						<li><a href="#" title="How it Works">How it Works</a></li>
						<li><a href="#" title="Features">Features</a></li>
						<li><a href="#" title="Pricing">Pricing</a></li>
						<li><a href="#" title="Contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-12">
					<form class="contactForm">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="label">Name</label>
									<input type="text" name="" class="inputField" />
								</div>
								<div class="form-group">
									<label class="label">Email</label>
									<input type="email" name="" class="inputField" />
								</div>
								<div class="form-group">
									<label class="checkLabel">
										<input type="checkbox" name="" class="inputField" />
										<span class="checkSpan">Send me a copy</span>
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="label">Message</label>
									<textarea class="inputField textarea"></textarea>
								</div>
								<div class="form-group text-right">
									<button class="btn trans comBtn" title="Send Message">Send Message</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="smallFooter">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-5 col-lg-4 col-sm-12">
					<p>Our company is a real example for all existing organizations in the world</p>
					<p>Copyright © 2022 <a href="" target="_blank" class="trans"></a> | All Rights Reserved</p>
				</div>
				<div class="col-xl-3 col-lg-4 col-sm-12">
					<div class="ipadCenter">
						<iframe src="" frameborder="0" scrolling="0" width="235px" height="30px"></iframe>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-sm-12">
					<ul>
						<li><a href="#" title="PRIVACY POLICY">PRIVACY POLICY</a></li>
						<li><a href="#" title="TERMS & CONDITIONS">TERMS & CONDITIONS</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>