<section id="contactUsSection" class="contactUsSection comPadding">
	<div class="container">
		<div class="title_with_detail">
			<div class="comTitle">Contact Us</div>
			<p class="title_detail">Manufacturer of DTHR Water Well Drilling Rig, Direct Rotary Drilling Rig, Diamond Core Wire Line Drilling Rig and Piling Rig.</p>
		</div>
		<div class="contactbox">
			<div class="contactDiv">
				<img src="../../assets/images/call.svg" alt="">
				<div class="contactDetail">
					<span>+91-96012 84980</span>
					<span>+91-94281 18030</span>
				</div>
			</div>
			<div class="contactDiv">
				<img src="../../assets/images/email.svg" alt="">
				<div class="contactDetail">
					<span><a href="mailto: jiaindia@yahoo.com"> jiaindia@yahoo.com</a></span>
				</div>
			</div>
			<div class="contactDiv">
				<img src="../../assets/images/location.svg" alt="">
				<div class="contactDetail">
					<span>Opp. Kalol GIDC,
						National Highway, Village - Saij<br /> Dist. Gandhinagar - 382725.
						Gujarat, India.</span>
				</div>
			</div>
		</div>
	</div>
</section>