<section id="pricingSec" class="pricingSec comPadding">
	<div class="container">
		<div class="title_with_detail">
			<div class="comTitle">Products</div>
			<p class="title_detail">We have full-fledged workshop for S.S. and M.S. fabrication, as well as latest
				machine shop for precision machining work.</p>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Dairy Milk Processing Plant Skid Mounted /Pasteurizer </h4>
					<img class="img-products" src="../../assets/images/m1.jpg">
					<p class="mt-4">Different range of pasteurizers using latest technology available for our product
						range of dairy process equipment. Hygienic designed and developed and safe to operate and easy
						to maintain. </p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Can Washer/Can Scrubber</h4>
					<img class="img-products" src="../../assets/images/m2.jpg">
					<p class="mt-4">Can washers Speed varies from 6 to 16 cans per minute. This type of washer is used
						in large size dairy plants. It is easily accessible for maintenance and cleaning of the inner
						part Made from SS 304 or as per client requirements</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Weigh Bowl and Dump Tank</h4>
					<img class="img-products" src="../../assets/images/m3.jpg">
					<p class="mt-4">Made from SS 304 with different capacity (500-1000 LTR ) with Square Shape @
						Standard Design. Milk Weighing Bowl for measuring accurate weight of milk The unit has slope
						towards the outlet for easy drain of the milk.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Can Conveyors and Crate Conveyors</h4>
					<img class="img-products" src="../../assets/images/m4.jpg">
					<p class="mt-4">Milk Crate conveyor from Durlin Chain /SS 304 Stucture to transfer Milk crate from
						Packing Section to Cold Room . Size and Capacity –customized,</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">BMC-Bulk Milk Cooler</h4>
					<img class="img-products" src="../../assets/images/m6.jpg">
					<p class="mt-4">Bulk Milk Chillers that are used to store Chilled Milk and chilling milk at Remote
						location or at Milk Collection centre with standalone refrigeration system.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Milk Tank/Milk Silo</h4>
					<img class="img-products" src="../../assets/images/m7.jpg">
					<p class="mt-4">Milk Silo that is installed in dairy plants for bulk storage of milk. Which is
						corrosion free, highly robust and can withstand tough weather conditions? We offer silo in
						various capacities as to meet the demands. These are precisely constructed with cleaning system
						that ensures pure and clean quality of milk. We provide silo tanks with cooling jacket or
						dedicated standalone refrigeration system that help in maintaining the milk temperature.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Dry Blender</h4>
					<img class="img-products" src="../../assets/images/m8.jpg">
					<p class="mt-4">Dry blender is ensuring the efficient mixing and blending of liquids, powders and
						granules for making standardized Milk & Products. We have range of high-performance mixers and
						wide range of capacity options means you can choose a machine that exactly matches your
						processing requirements for food, beverage and dairy applications.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Ghee Cattle</h4>
					<img class="img-products" src="../../assets/images/m9.jpg">
					<p class="mt-4">These Ghee Boilers or Cattle are used widely used in various industries for food
						processing applications.</p>
					<p>Capacity: 500 KL or Customized </p>
					<p>Material: 304 Stainless Steel Materials</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card m-2 card-product p-3 text-center">
					<h4 class="title mb-2">Mix Ageing Tank</h4>
					<img class="img-products" src="../../assets/images/m5.png">
					<p class="mt-4">Dedicated Refrigerated Ageing Vat is the storage tank  for Mixing & Storage of Ice Cream Mix at desired  Temperature level for Ice cream Plant before making ice cream in freezer</p>
				</div>
			</div>
		</div>
		
	</div>
</section>